@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/*Initial Global setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 70px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 66px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 40px;

  color: #222;
}

p {
  font-size: 24px;
  margin: 15px 0 20px 0;
  color: #465b52;
}

.section-m1 {
  margin: 40px 0;
}

.section-p1 {
  padding: 40px 80px;
}

body {
  width: 100%;
}

button.normal {
  font-size: 24px;
  font-weight: 700;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.normal:hover {
  background-color: #c7365f;
  color: #fff;
}

button.clear {
  font-size: 18px;
  font-weight: 700;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: none;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

/* Navbar */

#header {
  /* to align items in one row */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* visual styling */
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  /* to make navbar stick on top */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

#navbar {
  /* to align all the contents of list in one row */
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  /* to remove bullet points from the list */
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.hamburger {
  display: none;
  align-items: center;
}

#navbar li a {
  /* to remove the underline from the text */
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  /* add transition during color change while hovering */
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #c7365f;
}
#navbar li a.active::after {
   content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #c7365f;
  left: 16px;
  bottom: -6px;
}

/* adding underline in navbar element while active and hovered */

#navbar li a:not(.active)::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #c7365f;
  left: 16px;
  bottom: -6px;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

#navbar li a:hover:not(.active)::after {
  transform: scale(1, 1);
}

#close {
  display: none;
}

#navbar > li:nth-child(6) > a{
  font-size: 25px;
}

#navbar > li:nth-child(6){
  position: relative;
}

#navbar > li:nth-child(6) > div{
  position: absolute;
  top: -8px;
  right: 10px;
  background-color: #c7365f;
  color: #fff;
  padding: 1px 5px;
  border-radius: 4px;
  font: 8px;
  font-weight: 700;
}

/* Hero section */
#hero {
  background-image: url("img/hero4.png");
  /* make image full screen */
  height: 90vh;
  width: 100%;
  /* to center the image */
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  /* to center the texts */
  display: flex;
  flex-direction: column; /*because flex direction is row by default */
  align-items: flex-start;
  justify-content: center;
}

/* styling hero texts */
#hero h4 {
  padding-bottom: 20px;
}

#hero h1 {
  color: #c7365f;
  padding-bottom: 10px;
}

/* styling hero button */
#hero button {
  font-weight: 700;
  font-size: 24px;
  background-image: url(/img/button.png);
  background-color: transparent;
  color: #c7365f;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/*styling features section*/
#features {
  /* to add all features items in a single row */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#features .fe-box {
  width: 180px;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-align: center;
  padding: 25px 15px;
  margin: 15px 0;
}

#features .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#features .fe-box img {
  /* to make image responsive */
  width: 100%;
  margin-bottom: 10px;
}

#features .fe-box h6 {
  display: inline-block;
  font-size: 18px;
  padding: 9px 8px 6px 8px;
  color: #088178;
  background-color: #fddde4;
  line-height: 1;
}
#features .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#features .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#features .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#features .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#features .fe-box:nth-child(6) h6 {
  background-color: #fff2c5;
}

/* Featured Products */
/* make titles on the center */
#products .product-section_title {
  text-align: center;
}

#products .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#products .product-item {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  margin: 15px 0;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  position: relative;
  transition: 0.3s ease;
}

#products .product-item:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

/* to fix image flowing outside the box */
#products .product-item img {
  width: 100%;
  border-radius: 20px;
}

#products .product-item .product-description {
  text-align: start;
  padding: 10px 0;
}

#products .product-item .product-description span {
  color: #606063;
  font-size: 16px;
}

#products .product-item .product-description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 700;
}

#products .product-item .product-description h4 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #c7365f;
}

#products .product-item .product-description .star {
  font-size: 16px;
  color: rgb(243, 181, 25);
}

#products .product-item .cart {
  background-color: rgb(240, 207, 234);
  border-radius: 50%;
  border: 1px solid rgba(199, 54, 95, 0.02);
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: rgb(199, 54, 95);
}
/* Call to Action Section */
#action-banner {
  /* to center the elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/img/banner/b2.jpg");
  /* resizing image */
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#action-banner h4 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
}

#action-banner h2 {
  color: #fff;
  font-size: 56px;
  padding: 10px 0;
}

#action-banner h2 span {
  color: #ef3636;
}

/* Blog Section */
#blog {
  /* to get both the banner in same row */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#blog .sm-banner {
  /* to center the elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-image: url("/img/banner/b17.jpg");
  /* resizing image */
  min-width: 600px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#blog .sm-banner h2 {
  color: #fff;
  font-size: 44px;
}

#blog .sm-banner h4 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
}

#blog .sm-banner p {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 15px;
}

#blog .sm-banner:hover button.clear {
  color: #fff;
  background-color: #d44d74;
  border: 1px solid #d44d74;
}

#blog .sm-banner-2 {
  background-image: url(/img/banner/b10.jpg);
}

/* small text banner */
#text-banner-xs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#text-banner-xs .sm-banner {
  /* to center the elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
  background-image: url("/img/banner/b7.jpg");
  /* resizing image */
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

#text-banner-xs .sm-banner h4 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

#text-banner-xs .sm-banner h3 {
  color: #ec544e;
  font-weight: 700;
  font-size: 18px;
}

#text-banner-xs .xs-banner-2 {
  background-image: url("/img/banner/b4.jpg");
}

#text-banner-xs .xs-banner-3 {
  background-image: url("/img/banner/b18.jpg");
}

/* Newsletter Section */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #818ea0;
}

#newsletter h4 span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 18px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: none;
  outline: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#newsletter button {
  background-color: #c7365f;
  color: #fff;
  white-space: nowrap;
  padding: 0 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Footer */
/*footer universal */
footer .f-info_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .f-info_row .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .mb30 {
  margin-bottom: 30px;
}
/* Footer text styles */
footer h4 {
  font-size: 24px;
  margin-bottom: 5px;
}

footer p {
  font-size: 18px;
  margin: 0 0 8px 0;
}

footer a {
  color: #fff;
  font-size: 18px;
  text-decoration: none; /* to remove underline */
  margin: 0 0 8px 0;
  transition: 0.2s ease;
}

footer a:hover {
  color: #c7365f;
}

/*footer 1st row */
footer .f-info_row .f-logo {
  margin-top: -30px;
}

footer .store-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .store-row img.store {
  cursor: pointer;
  border: 1px solid #c7365f;
  border-radius: 6px;
  margin: 10px 10px 15px 0;
}

footer .payment img {
  cursor: pointer;
}

#footer .f-info_row .f-logo {
  width: 50px;
  height: 30px;
}

/* footer 2nd row */
#f-info_row2 {
  background-color: #d2d2cf;
  padding: 40px 80px;
}

#f-info_row2 h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

#f-info_row2 a {
  font-size: 18px;
  margin: 0 0 8px 0;
}

/*footer 3rd row */
footer .footer-feature img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
footer .footer-feature h4 span {
  color: #c7365f;
}

footer .footer-feature .social-media-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-feature .social-media-icons li {
  list-style: none;
}

footer .footer-feature .social-media-icons i {
  color: #465b52;
  padding-right: 4px;
  font-size: 26px;
  cursor: pointer;
  /* add transition during color change while hovering */
  transition: 0.3s ease;
}

footer .footer-feature .social-media-icons i:hover {
  color: #c7365f;
}

footer .footer-feature .social-media-icons li a {
  /* to remove the underline from the text */
  text-decoration: none;
}

/*footer last row */
footer .f-info_row-last {
  background-color: #fc2779;
  padding: 30px 80px 20px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .f-info_row-last .policies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  padding-bottom: 10px;
}

footer .f-info_row-last .policies p {
  font-weight: 700;
}

footer .f-info_row-last .policies p:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid #fff;
}

footer .f-info_row-last .copyright {
  width: 100%;
  text-align: center;
}

footer .f-info_row-last .copyright p {
  color: #fff;
  font-weight: 600;
}

/* Shop.html */
#pro-details {
  display: flex;
  margin-top: 20px;
}
#page-header {
  background-image: url(/img/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h1,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  padding: 16px;
  background-color: #c7365f;
  border-radius: 4px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

#pagination a i {
  font: 16px;
}

/* shop page ends/
/* Single products page start */
#pro-details .pro-img {
  width: 40%;
  margin-right: 40px;
}

#pro-details .sm-img-container {
  display: flex;
  justify-content: space-between;
}

#pro-details .sm-img-container .small-img-row {
  flex-basis: 24%;
  cursor: pointer;
}

#pro-details .pro-text {
  width: 50%;
  padding-top: 30px;
}

#pro-details .pro-text h6 {
  font-size: 20px;
}

#pro-details .pro-text h4 {
  padding: 40px 0 20px 0;
}

#pro-details .pro-text h2 {
  font-size: 32px;
  color: #c7365f;
}

#pro-details .pro-text select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#pro-details .pro-text input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}

#pro-details .pro-text input:focus {
  outline: none;
}

#pro-details .pro-text button {
  padding: 12px 20px;
  background-color: #c7365f;
  color: #fff;
}

#pro-details .pro-text p {
  margin-top: 0;
  line-height: 30px;
}

/* Single products page ends */
/* Blog page Starts */
#page-header.blog-header {
  background-image: url(/img/banner/b19.jpg);
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 110px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog .blog-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 21px;
  color: #000;
  font-weight: 700;
  position: relative;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 13px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: rgb(199, 54, 95);
}

#blog .blog-details a:hover::after {
  background-color: #c7365f;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 100px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -2;
}

/* Blog page ends */
/* About page Starts */
#page-header.about-header {
  background-image: url(/img/about/banner.png);
}

#about-us {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-us img {
  width: 50%;
  height: auto;
  border-radius: 20px;
  margin-right: 20px;
}

#about-us .about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-us .about-details p {
  padding: 20px 30px;
}

#about-us .about-details button {
  background-color: #c7365f;
  color: #fff;
}

#about-us .about-details button:hover {
  background-color: #c9cbce;
  color: #000;
}

#app-download {
  text-align: center;
}

#app-download .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#app-download .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* About page ends */
/* About Us Page Starts */
#page-header.contact-header {
  background-image: url(/img/blog/b3.jpg);
}

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}

#contact-details .details {
  flex-basis: 48%;
}

#contact-details .details span,
#form span {
  font-size: 20px;
}

#contact-details .details h2,
#form h2 {
  font-size: 36px;
  line-height: 35px;
}

#contact-details .details h3 {
  font-size: 24px;
  padding: 15px 0;
  font-weight: 700;
}

#contact-details .details li {
  list-style: none;
}

#contact-details .details li ul {
  display: flex;
  align-items: center;
}

#contact-details .details li ul i {
  font-size: 20px;
  color: #c7365f;
  margin: 15px 0px 20px;
  padding-right: 22px;
}

#contact-details .map {
  height: 400px;
  box-shadow: box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

#contact-details .map iframe {
  height: 100%;
}

/* Contact Form */
#form{
display: flex;
justify-content: space-between;
margin: 10px;
padding: 80px;
border: 1px solid #e1e1e1;
}

#form .contact-form{
  width: 50%;
  padding-top: 20px;
}

#form .contact-form .input-group{
  margin-bottom: 30px;
  position: relative;
}

#form .contact-row{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#form .contact-row .input-group{
  flex-basis: 48%;
}

#form .contact-form input,
#form .contact-form textarea{
width: 100%;
padding: 10px;
outline: none;
border: 1px solid #000;
color: #000;
font-size: 22px;
}

#form .contact-form  label,
#form .contact-form  label{
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  padding: 10px;
  color: #000;
  transition: 0.2s;
}

#form input:focus~label,#form input:valid~label,
#form textarea:focus~label, #form textarea:valid~label{
  top: -25px;
  font-size: 16px;
  font-weight: 700;
}

#form .contact-form .form-btn{
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: #c7365f;
  color: #ffffff;
  outline: none;
  border: 1px solid rgba(199, 54, 95, 0.5);
  width: 100%;
  cursor: pointer;
  transition: 0.2s ease;
}

#form .contact-form .form-btn:hover{
  background-color: white;
  color: #c7365f;
}

/* Members Section */
#form .people div{
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form .people div img{
  width: 65px;
  height: 65px;
  object-fit: contain;
  margin-right: 15px;
}

#form .people div p{
  margin: 0;
  font-size: 18px;
  line-height: 25px;
}

#form .people div span{
  display: block;
  font-weight: 600;
  color: #000
}


/* About Us Page ends */
/* Shopping cart Starts */
/* Cart  */
#side-cart .cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;;
  /* background: rgba(199, 54, 95, 0.5); */
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  /* visibility: hidden; */
}
#side-cart .side-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3000;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: all 0.3s linear;
  /* transform: translateX(100%); */
}
#side-cart .showCart {
  transform: translateX(0);
}
 #side-cart .transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  #side-cart .side-cart {
    width: 30vw;
    min-width: 450px;
  }
}

#side-cart .close-cart {
  font-size: 1.7rem;
  cursor: pointer;
  color:#000;
}
#side-cart .side-cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing:0.1rem;
  margin-bottom: 2rem;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 1px solid #606063;
}
/*---------- Cart Item -------------------- */
#side-cart .cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
#side-cart .cart-item img {
  width: 75px;
  height: 75px;
}
#side-cart .cart-item h4 {
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
#side-cart .cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
  font-size: 22px;
  color: #222; ;
}
#side-cart .item-amount {
  text-align: center;
}
#side-cart .remove-item {
  color: #ef3636;
  cursor: pointer;
  font-size: 20px;
}
#side-cart .fa-chevron-up,
#side-cart .fa-chevron-down {
  color: #c7365f;
  cursor: pointer;
}
/* End of Cart Item  */

#side-cart .cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
#side-cart .cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 28px;
}

/* End of Cart  */
/* Shopping cart ends */

/* Media Queries */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* to add fixed position */
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    /* other styles */
    background-color: #e3e6f3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 120px 0 0 10px;
    transition: 0.3s;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  .hamburger {
    display: flex;
    align-items: center;
  }

  .hamburger i {
    color: #1a1a1a;
    font-size: 30px;
    padding-left: 20px;
  }

  #navbar.show-navbar {
    right: 0;
  }

  #close {
    display: block;
    position: absolute;
    top: 30px;
    color: #222;
    font-size: 30px;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #features {
    justify-content: center;
  }

  /* to add space between feature box */
  #features .fe-box {
    margin: 15px 15px;
  }

  #products .product-container {
    justify-content: center;
  }

  #products .product-container .product-item {
    margin: 15px;
  }

  #action-banner {
    height: 25vh;
  }
  #action-banner h2 {
    font-size: 46px;
    padding: 10px 0;
  }
  #blog .sm-banner {
    min-width: 100%;
    height: 30vh;
  }

  #text-banner-xs {
    padding: 0 40px;
  }

  #text-banner-xs .sm-banner {
    width: 28%;
  }

  #newsletter .form {
    padding-top: 10px;
    width: 70%;
  }

  footer .f-info_row .f-logo {
    display: none;
  }

  footer .payment img {
    padding-top: 20px;
  }

  footer .footer-feature h4 {
    font-size: 16px;
  }

  .sm-des-social-media {
    padding-bottom: 10px;
  }

  footer .f-info_row-last .policies {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
  }

  /*Blog page*/
  #blog .blog-box {
    padding-bottom: 90px;
  }

  #blog .blog-box h1 {
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 90px;
  }

  /*about us page*/
  #about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about-us img {
    margin-bottom: 20px;
  }

  #page-header {
    height: 30vh;
  }



  /*Contact Us Page*/
    #form {
    display: flex;
   flex-direction: column;
}

  #contact-details {
    display: flex;
    flex-direction: column;
    
    /* justify-content: space-between; */
    /* margin: 60px 0; */
}

#form .contact-form {
    width: 100%;
    padding-top: 20px;
}

#form .people{
  display: none;
}


}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
  }

  h4 {
    font-size: 26px;
  }

  h2 {
    font-size: 32px;
  }

  h1 {
    font-size: 38px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #features {
    justify-content: space-between;
  }

  #features .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #products .product-item {
    width: 100%;
  }

  #action-banner {
    height: 40vh;
  }

  #blog .sm-banner {
    height: 40vh;
  }

  #blog .sm-banner-2 {
    margin-top: 20px;
  }

  #text-banner-xs {
    padding: 0 20px;
  }

  #text-banner-xs .sm-banner {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  .footer-feature {
    width: 100%;
  }

  .footer-feature h4 {
    text-align: center;
  }
  footer .footer-feature .social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer-feature h4 span {
    /* color: #c7365f; */
    color: #000;
  }
  footer .footer-feature .social-media-icons i {
    color: #c7365f;
  }

  /* Single Product Details */
  #pro-details {
    display: flex;
    flex-direction: column;
  }

  #pro-details .pro-img {
    width: 100%;
    margin-right: 0px;
  }

  #pro-details .pro-text {
    width: 100%;
  }

  /* Blog page */
  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  #blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 80px;
  }

  /* Contact Us */
  #form{
    padding: 10px;
  }
}
