@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/*Initial Global setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
}

h1 {
  font-size: 70px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 66px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 40px;

  color: #222;
}

p {
  font-size: 24px;
  margin: 15px 0 20px 0;
  color: #465b52;
}

.section-m1 {
  margin: 40px 0;
}

.section-p1 {
  padding: 40px 80px;
}

body {
  width: 100%;
}

button.normal {
  font-size: 24px;
  font-weight: 700;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.normal:hover {
  background-color: #c7365f;
  color: #fff;
}

button.clear {
  font-size: 18px;
  font-weight: 700;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: none;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

/* Navbar */

#header {
  /* to align items in one row */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* visual styling */
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  /* to make navbar stick on top */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

#navbar {
  /* to align all the contents of list in one row */
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  /* to remove bullet points from the list */
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  /* to remove the underline from the text */
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  /* add transition during color change while hovering */
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #c7365f;
}
#navbar li a.active::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #c7365f;
  left: 20px;
  bottom: -2px;
}

/* adding underline in navbar element while active and hovered */

#navbar li a:not(.active)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #c7365f;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

#navbar li a:hover:not(.active)::after {
  transform: scale(1, 1);
}

/* Hero section */
#hero {
  background-image: url("img/hero4.png");
  /* make image full screen */
  height: 90vh;
  width: 100%;
  /* to center the image */
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  /* to center the texts */
  display: flex;
  flex-direction: column; /*because flex direction is row by default */
  align-items: flex-start;
  justify-content: center;
}

/* styling texts */
#hero h4 {
  padding-bottom: 20px;
}

#hero h1 {
  color: #c7365f;
  padding-bottom: 10px;
}

/* styling button */
#hero button {
  font-weight: 700;
  font-size: 24px;
  background-image: url(/img/button.png);
  background-color: transparent;
  color: #c7365f;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/*styling features section*/
#features {
  /* to add all features items in a single row */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#features .fe-box {
  width: 180px;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-align: center;
  padding: 25px 15px;
  margin: 15px 0;
}

#features .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#features .fe-box img {
  /* to make image responsive */
  width: 100%;
  margin-bottom: 10px;
}

#features .fe-box h6 {
  display: inline-block;
  font-size: 18px;
  padding: 9px 8px 6px 8px;
  color: #088178;
  background-color: #fddde4;
  line-height: 1;
}
#features .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#features .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#features .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#features .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#features .fe-box:nth-child(6) h6 {
  background-color: #fff2c5;
}

/* Featured Products */
/* make titles on the center */
#products .product-section_title {
  text-align: center;
}

#products .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#products .product-item {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  margin: 15px 0;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  position: relative;
  transition: 0.3s ease;
}

#products .product-item:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

/* to fix image flowing outside the box */
#products .product-item img {
  width: 100%;
  border-radius: 20px;
}

#products .product-item .product-description {
  text-align: start;
  padding: 10px 0;
}

#products .product-item .product-description span {
  color: #606063;
  font-size: 16px;
}

#products .product-item .product-description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 700;
}

#products .product-item .product-description h4 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #c7365f;
}

#products .product-item .product-description .star {
  font-size: 16px;
  color: rgb(243, 181, 25);
}

#products .product-item .cart {
  background-color: rgb(240, 207, 234);
  border-radius: 50%;
  border: 1px solid rgba(199, 54, 95, 0.02);
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: rgb(199, 54, 95);
}
/* Call to Action Section */
#action-banner {
  /* to center the elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/img/banner/b2.jpg");
  /* resizing image */
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#action-banner h4 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
}

#action-banner h2 {
  color: #fff;
  font-size: 56px;
  padding: 10px 0;
}

#action-banner h2 span {
  color: #ef3636;
}

/* Blog Section */
#blog {
  /* to get both the banner in same row */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#blog .sm-banner {
  /* to center the elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-image: url("/img/banner/b17.jpg");
  /* resizing image */
  min-width: 600px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#blog .sm-banner h2 {
  color: #fff;
  font-size: 44px;
}

#blog .sm-banner h4 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
}

#blog .sm-banner p {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 15px;
}

#blog .sm-banner:hover button.clear {
  color: #fff;
  background-color: #d44d74;
  border: 1px solid #d44d74;
}

#blog .sm-banner-2 {
  background-image: url(/img/banner/b10.jpg);
}

/* small text banner */
#text-banner-xs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#text-banner-xs .sm-banner {
  /* to center the elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
  background-image: url("/img/banner/b7.jpg");
  /* resizing image */
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

#text-banner-xs .sm-banner h4 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

#text-banner-xs .sm-banner h3 {
  color: #ec544e;
  font-weight: 700;
  font-size: 18px;
}

#text-banner-xs .xs-banner-2 {
  background-image: url("/img/banner/b4.jpg");
}

#text-banner-xs .xs-banner-3 {
  background-image: url("/img/banner/b18.jpg");
}

/* Newsletter Section */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #818ea0;
}

#newsletter h4 span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 18px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: none;
  outline: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#newsletter button {
  background-color: #c7365f;
  color: #fff;
  white-space: nowrap;
  padding: 0 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Footer */
/*footer universal */
footer .f-info_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .f-info_row .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .mb30 {
  margin-bottom: 30px;
}
/* Footer text styles */
footer h4 {
  font-size: 24px;
  margin-bottom: 5px;
}

footer p {
  font-size: 18px;
  margin: 0 0 8px 0;
}

footer a {
  color: #fff;
  font-size: 18px;
  text-decoration: none; /* to remove underline */
  margin: 0 0 8px 0;
  transition: 0.2s ease;
}

footer a:hover {
  color: #c7365f;
}

/*footer 1st row */
footer .f-info_row .f-logo {
  margin-top: -30px;
}

footer .store-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .store-row img.store {
  cursor: pointer;
  border: 1px solid #c7365f;
  border-radius: 6px;
  margin: 10px 10px 15px 0;
}

footer .payment img {
  cursor: pointer;
}

#footer .f-info_row .f-logo {
  width: 50px;
  height: 30px;
}

/* footer 2nd row */
#f-info_row2 {
  background-color: #d2d2cf;
  padding: 40px 80px;
}

#f-info_row2 h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

#f-info_row2 a {
  font-size: 18px;
  margin: 0 0 8px 0;
}

/*footer 3rd row */
footer .footer-feature img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
footer .footer-feature h4 span {
  color: #c7365f;
}

footer .footer-feature .social-media-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-feature .social-media-icons li {
  list-style: none;
}

footer .footer-feature .social-media-icons i {
  color: #465b52;
  padding-right: 4px;
  font-size: 26px;
  cursor: pointer;
  /* add transition during color change while hovering */
  transition: 0.3s ease;
}

footer .footer-feature .social-media-icons i:hover {
  color: #c7365f;
}

footer .footer-feature .social-media-icons li a {
  /* to remove the underline from the text */
  text-decoration: none;
}

/*footer last row */
footer .f-info_row-last {
  background-color: #fc2779;
  padding: 30px 80px 20px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .f-info_row-last .policies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  padding-bottom: 10px;
}

footer .f-info_row-last .policies p {
  font-weight: 700;
}

footer .f-info_row-last .policies p:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid #fff;
}

footer .f-info_row-last .copyright {
  width: 100%;
  text-align: center;
}

footer .f-info_row-last .copyright p {
  color: #fff;
  font-weight: 600;
}
